@model ShopApp.WebUI.Models.ProductModel
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3 style="text-align:center">Products</h3>
<br />
<div style="margin:0px 30px 0px 30px">
    @if (Model.Products.Count() > 0)
    {
        <a href="/Admin/CreateProduct" class="btn btn-link  btn-pill btn-md fw-bold bg-success" style="color:white;margin-bottom:10px;text-decoration:none">Create</a>
        <br />
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>ID</th>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>Status</th>
                    <th>GENDER</th>
                    <th></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="/Theme/img/product/@item.ImageUrl"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle" />
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Name</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Price</p>
                        </td>
                        @if (item.Condition == "True")
                        {
                            <td>
                                <span class="badge badge-success rounded-pill d-inline">Active</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge badge-danger rounded-pill d-inline">False</span>
                            </td>
                        }

                        <td>@item.Gender</td>
                        <td></td>
                        <td>
                            <a href="/admin/products/@item.Id" class="btn btn-link badge-primary btn-pill btn-sm fw-bold">EDIT</a>
                            <form action="/admin/ProductDelete/" method="post" style="display:inline">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" style="color:white;text-decoration:none"
                                class="btn btn-link badge-danger btn-pill btn-sm fw-bold">
                                    DELETE
                                </button>
                            </form>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            <h4>No Products</h4>
        </div>
    }

</div>